@font-face {
    font-family: 'Inria_Sans-Regular';
    src: url('../fonts/Megrim/Inria_Sans/InriaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria_Sans-Light';
    src: url('../fonts/Megrim/Inria_Sans/InriaSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria_Sans-Bold';
    src: url('../fonts/Megrim/Inria_Sans/InriaSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: Inria_Sans-Regular;
}
